<div class="container">
  <div class="row">
    <div class="col-12">
      <span class="title">Teste de Angular</span>
      <img src="../assets/imgs/angular-logo.png" alt="angular-logo" style="width: 40px; margin-top: -15px; margin-left: 15px;">
    </div>
   
    
  </div>
</div>

<hr />

<div class="container">
  <div class="row">
    <div class="col-12">
      <app-lista-teste></app-lista-teste>

    </div>
  </div>
  <div class="row">
    <div class="col-6 footer">
      <h5>Humberto Ferrante - 19.99950-9115</h5>
    </div>
  </div>

</div>

<!-- <ul>
  <li *ngFor="let user of users">
    <h1>{{ user.name.value }}</h1>
    <h3>{{ user.email.value }}</h3>
  </li>
</ul> -->
