h2{
    color: red;
}
.container{
    background-color: aliceblue;
    border-radius: 60px;
}

.titulo{
    font-size: 2rem;
    line-height: 2rem;
}
.conteudo{
    margin-top: 20px;
}
ul{
    list-style: none;
}